<div class="cronometro-body">
    <h4 style="color:#045bb2;">Tiempo</h4>
    <p></p>
    <div class="input-group-prepend">
        <h3>{{hora}} : {{minutos}} : {{segundos}}</h3>
    </div>
    <p></p>
    <div class="buttons">
        <button class="col-2 btn btn-outline-success btn-sm" (click)="start()"> Iniciar </button>
        <button type="button" class="btn btn-white btn-sm" disabled></button>
        <!--   <button (click)="lapso()"> Lapso </button>-->
        <button class="col-2 btn btn-outline-danger btn-sm" (click)="stop()"> Parar </button>

    </div>
    <!--
    <div class="container-numbers">
        <p> {{hora}} : {{minutos}} : {{segundos}}</p>

        <table>
            <thead>
                <tr>
                    <th>N</th>
                    <th>Lapsos</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cole of colection; let i = index">
                    <td>{{i+1}}</td>
                    <td>
                        <p class="lapsos">
                            {{cole.hora}} : {{cole.minutos}} : {{cole.segundos}}</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>-->
</div>