<div class="container">
    <div class="row justify-content-md-center">
        <div class="card border-dark text-center col-md-8">
            <div class="card-header border-dark">
                <h2 style="color:rgb(0,123,255);">Configure La Sala</h2>
            </div>
            <div class="card-body">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Codigo Sala</span>
                    </div>
                    <input type="text" class="form-control" disabled=true placeholder="Nombre" [(ngModel)]="sala.codigo" name="codigo" aria-describedby="basic-addon1">
                </div>
                <p></p>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Nombre</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Nombre" [(ngModel)]="sala.nombre" name="nombre" aria-describedby="basic-addon1">
                </div>
                <p></p>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Expositor</label>
                    </div>
                    <select class="custom-select" id="inputGroupSelect01" [(ngModel)]="expositor.id" name="id" >
            <option selected>Elija un Expositor</option>
            <option *ngFor="let item of expositores" value="{{item.id}}" > {{item.nombre}} {{item.apellido}}</option>

          </select>
                </div>
                <p></p>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Tema</span>
                    </div>
                    <input class="form-control" [(ngModel)]="sala.tema" name="tema">
                </div>
                <p></p>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Capacidad</span>
                    </div>
                    <input type="number" min="1" class="form-control" [(ngModel)]="sala.capacidad" name="capacidad" placeholder="Límite de Usuarios" aria-describedby="basic-addon1">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Nº Preguntas</span>
                    </div>
                    <input type="number" min="1" [(ngModel)]="sala.preguntasPermitidas" name="preguntasPermitidas" class="form-control" placeholder="Preguntas por Usuario" aria-describedby="basic-addon1">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Estado Sala:</span>
                    </div>
                    &nbsp; &nbsp; &nbsp; &nbsp;
                    <label *ngIf="!estado" class="mr-2">Inactivo</label>
                    <label class="switch">
            <input type="checkbox" [(ngModel)]="sala.estado" (click)="tipoEstado()">
            <span class="slider round"></span>
          </label>
                    <label *ngIf="estado" class="ml-2">Activo</label>
                </div>

                <div>
                    <button type="button" class="col-4 btn btn-outline-success" (click)="guardarSala()">Crear Sala</button>
                    <button type="button" class="btn btn-white btn-sm" disabled></button>
                    <button type="button" class="col-4 btn btn-outline-danger">Cancelar</button>
                </div>

            </div>
        </div>
    </div>
</div>
