<div class="container">
    <div class="row justify-content-md-center">
        <div class="card border-dark text-center col-md-8">
            <div class="card-header border-dark">
                <h2 style="color:rgb(0,123,255);">Configure La Sala</h2>
            </div>
            <div class="card-body">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Nombre</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Nombre" aria-label="Username"
                        aria-describedby="basic-addon1">
                </div>
                <p></p>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Expositor</label>
                    </div>
                    <select class="custom-select" id="inputGroupSelect01">
                        <option selected>Elija un Expositor</option>
                        <option value="1">Expositor 1</option>
                        <option value="2">Expositor 2</option>
                        <option value="3">Expositor 3</option>
                    </select>
                </div>
                <p></p>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Tema</span>
                    </div>
                    <textarea class="form-control" aria-label="With textarea"></textarea>
                </div>
                <p></p>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Capacidad</span>
                    </div>
                    <input type="number" min="1" class="form-control" placeholder="Límite de Usuarios"
                        aria-label="Username" aria-describedby="basic-addon1">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Nº Preguntas</span>
                    </div>
                    <input type="number" min="1" class="form-control" placeholder="Preguntas por Usuario"
                        aria-label="Username" aria-describedby="basic-addon1">
                </div>
                <div>
                    <button type="button" class="col-4 btn btn-outline-success">Crear Sala</button>
                    <button type="button" class="btn btn-white btn-sm" disabled></button>
                    <button type="button" class="col-4 btn btn-outline-danger">Cancelar</button>
                </div>

            </div>
        </div>
    </div>
</div>