<div class="container">
    <div class="row justify-content-md-center">
        <div id="fondo" class="card border-dark text-center col-md-8">
            <div class="card-header border-dark">
                <h2 style="color:#045bb2;">Realizar Pregunta</h2>
            </div>
            <div class="card-body">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Nombre Sala</span>
                    </div>
                    <input class="form-control"  [(ngModel)]="sala.nombre" name="nombre" disabled>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Pregunta</span>
                    </div>
                    <input class="form-control" [(ngModel)]="preguntas.pregunta" name="pregunta">
                </div>
                <p></p>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Nombre</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Nombre" [(ngModel)]="preguntas.nombre" name="nombre"
                        aria-describedby="basic-addon1">
                </div>
                <p></p>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Correo</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Correo de Contacto" [(ngModel)]="preguntas.correo" name="correo"
                        aria-describedby="basic-addon1">
                </div>
                <p></p>
                <div>
                    <button type="button" class="col-4 btn btn-outline-success">Enviar Pregunta</button>
                    <button type="button" class="btn btn-white btn-sm" disabled></button>
                    <button type="button" class="col-4 btn btn-outline-danger">Cancelar</button>
                </div>

            </div>
        </div>
    </div>
</div>
