<div id="fondo" class="jumbotron">
    <img src="../../assets/image/1.png" width="260" height="180" class="rounded float-right" alt="...">
    <div class="container">
        <h1 id="titulo" class="display-3">Hola Bienvenido</h1>
        <h5 id="sub-titulo" class="display-5">Prototipo del Sistema de preguntas</h5>
        <p id="cuerpo">Instituto Tecnológico Superior "Yavirac"</p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <div id="fondo" class="card mb-3">
                <div class="row no-gutters">
                    <div class="col-md-6">
                        <img src="../../assets/image/seguridad-informática.jpg" width="auto" height="220"
                            class="d-block w-100" alt="...">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <h5 id="titulo" class="card-title">SEGURIDAD INFORMÁTICA</h5>
                            <p id="cuerpo" class="card-text text-justify">​Es el área relacionada con la
                                informática y la telemática que se enfoca en la protección de la infraestructura
                                computacional y todo lo relacionado con esta</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div id="fondo" class="card mb-3">
                <div class="row no-gutters">
                    <div class="col-md-6">
                        <div class="card-body">
                            <h5 id="titulo" class="card-title">TECNOLOGÍA 5G</h5>
                            <p id="cuerpo" class="card-text text-justify">En telecomunicaciones, 5G son las siglas
                                utilizadas para referirse a la quinta generación de tecnologías de telefonía móvil. Creadas para obtener la máxica velocidad en conexión.​</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="../../assets/image/5G.jpg" width="auto" height="220" class="d-block w-100"
                            alt="...">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>