<div class="container">
    <div class="row justify-content-md-center">
        <div class="card border-dark text-center col-md-8">
            <div class="card-header border-dark">
                <h2 style="color:rgb(0,123,255);">Registro de Expositor</h2>
            </div>
            <div class="card-body">
                <img src="../../assets/image/director.png" width="100" height="auto" class="rounded float-center"
                    alt="...">
                <p></p>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">

                        <span class="input-group-text" id="inputGroupFileAddon01">Subir Foto</span>
                    </div>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="inputGroupFile01"
                            aria-describedby="inputGroupFileAddon01">
                        <label class="custom-file-label" for="inputGroupFile01">Seleccionar Imagen</label>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Nombre</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Nombre" aria-label="Username"
                        aria-describedby="basic-addon1">
                </div>
                <p></p>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Apellido</span>
                    </div>
                    <input type="text" class="form-control" placeholder="apellido" aria-label="Username"
                        aria-describedby="basic-addon1">
                </div>
                <p></p>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Correo</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Correo" aria-label="Username"
                        aria-describedby="basic-addon1">
                </div>
                <p></p>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Teléfono</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Teléfono de contacto" aria-label="Username"
                        aria-describedby="basic-addon1">
                </div>
                <p></p>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Institución</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Institución" aria-label="Username"
                        aria-describedby="basic-addon1">
                </div>
                <p></p>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Título</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Título del Expositor" aria-label="Username"
                        aria-describedby="basic-addon1">
                </div>
                <p></p>
                <div>
                    <button type="button" class="col-4 btn btn-outline-success">Registrar Expositor</button>
                    <button type="button" class="btn btn-white btn-sm" disabled></button>
                    <button type="button" class="col-4 btn btn-outline-danger">Cancelar</button>
                </div>

            </div>
        </div>
    </div>
</div>