<div class="container">
    <div class="row justify-content-md-center">
        <div id="fondo" class="card border-dark text-center col-md-8">
            <div class="card-header border-dark">
                <h2 style="color:#045bb2;">Registro de Expositor</h2>
            </div>
            <div class="card-body">
                <div class="col-md-4">
                    <label for="formGroupExampleInput">
                        <h5> Subir Archivo:</h5>
                    </label> <br />
                    <img (click)="fileInput.click()" class="card-img fotoPerfilPortada image-rounded" src="{{srcFoto}}"
                        width="150px" height="150px" /> <br> <br>
                    <input hidden=true type="file" style="display: none;" #fileInput (change)="CodificarArchivo($event)"
                        accept="image/*">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Nombre</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Nombre"  [(ngModel)]="expositor.nombre" name="nombre" 
                        aria-describedby="basic-addon1">
                </div>
                <p></p>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Apellido</span>
                    </div>
                    <input type="text" class="form-control" placeholder="apellido"  [(ngModel)]="expositor.apellido" name="apellido"
                        aria-describedby="basic-addon1">
                </div>
                <p></p>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Correo</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Correo"  [(ngModel)]="expositor.correo" name="correo"
                        aria-describedby="basic-addon1">
                </div>
                <p></p>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Teléfono</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Teléfono de contacto"  [(ngModel)]="expositor.telefono" name="telefono"
                        aria-describedby="basic-addon1">
                </div>
                <p></p>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Institución</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Institución"  [(ngModel)]="expositor.institucion" name="institucion"
                        aria-describedby="basic-addon1">
                </div>
                <p></p>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Título</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Título del Expositor"  [(ngModel)]="expositor.titulo" name="titulo"
                        aria-describedby="basic-addon1">
                </div>
                <p></p>
                <div>
                    <button type="button" class="col-4 btn btn-outline-success" (click)="guardarExpositor()">Registrar Expositor</button>
                    <button type="button" class="btn btn-white btn-sm" disabled></button>
                    <button type="button" class="col-4 btn btn-outline-danger">Cancelar</button>
                </div>

            </div>
        </div>
    </div>
</div>