<div class="container">
    <div class="row justify-content-md-center">
        <div id="fondo" class="card  col-md-11">
            <div class="card-header">
                <h2 style="color:#045bb2;">Listado de Preguntas</h2>
            </div>
            <div class="card-body">
                <img src="../../assets/image/director.png" width="100" height="auto" class="rounded float-left"
                    alt="...">
                <p></p>
                <h5>Nombre: Expositor 1</h5>
                <p></p>
                <h5>Tema: Prototipo</h5>
                <p></p>
                <div class="text-right">
                    <button type="button" class="col-2 btn btn-outline-info">Exportar Preguntas</button>
                </div>
            </div>
        </div>
    </div>
    <br />
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nombre de Usuario</th>
                <th scope="col">Correo</th>
                <th scope="col">Pregunta</th>
                <th scope="col">Seleccionar</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Mark</td>
                <td>@mdo</td>
                <td>Como se puede realizar?</td>
                <td><input type="checkbox" aria-label="Checkbox for following text input">
                </td>
            </tr>
            <tr>
                <td>Jacob</td>
                <td>@fat</td>
                <td>Cuál es el Costo de Implementación?</td>
                <td><input type="checkbox" aria-label="Checkbox for following text input">
                </td>
            </tr>
            <tr>
                <td>Larry</td>
                <td>@twitter</td>
                <td>Es Seguro?</td>
                <td><input type="checkbox" aria-label="Checkbox for following text input">
                </td>
            </tr>
        </tbody>
    </table>
</div>