<br />
<footer>
    <div class="footer-limiter">

        <div class="footer-right">

            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="far fa-envelope"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>

        </div>

        <div class="footer-left">

            <p class="footer-links">Sistema de gestionamiento de preguntas 2019</p>
            <br />
            <p>Instituto "Yavirac"</p>
            <p></p>
            <p>Erick Erráez, Francisco Borja, Bryan Cortez 2019</p>
        </div>

    </div>

</footer>