<div class="container">
    <div class="row justify-content-md-center">
        <div class="card border-dark text-center col-md-8">
            <div class="card-header border-dark">
                <h2 style="color:rgb(0,123,255);">Ingresa a la Sala</h2>
            </div>
            <div class="card-body">
                <img src="../../assets/image/Commons_QR_code.png" width="220" height="auto" class="rounded float-center" alt="...">
                <p></p>
                <h3>Link de Acceso: </h3>
                <a href="http://localhost:4200/preguntar" class="stretched-link">
                    <h1>http://localhost:4200/preguntar</h1>
                </a>
                <p></p>
            </div>
        </div>
    </div>
</div>